    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/fileupload.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
   
   
   <div class="container-fluid" style="width: 100%;margin-top: 30px;">
        <div class="row d-flex justify-content-center align-items-center" style="height: 466px;">
            <div class="col-12 col-lg-6 d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="text-align: center;">
                <div>
                    <p style="font-size: 28px;text-align: center;background: #ed0b93;padding: 36px;">Welcome to bulk email processing.&nbsp;<img src="../assets/img/The%20email%20processor%20(1).png" width="100%" height="50%" style="height: 469px;width: 472px;"></p>
                    <p style="font-size: 28px;text-align: center;">Not registered yet ?&nbsp;<a href="signup">Signup</a> &nbsp;</p>
                </div>
            </div>
            <div class="col-12 col-sm-10 col-md-6 col-lg-4 col-xl-4 col-xxl-4 text-center d-flex d-xxl-flex justify-content-center align-items-center justify-content-xxl-center align-items-xxl-center">
                <div>
                    <div>
                        <p class="text-center" style="font-size: 73px;font-weight: bold;height: 103px;">Login</p>
                    </div>
                    <form style="padding: 4px;padding-top: 10px;" method="POST" action="dashboard/login">
                        <div><input class="border rounded-0 border-dark form-control form-control-lg" type="text" placeholder="username" style="margin-bottom: 9px;" required><input class="border rounded-0 border-dark form-control form-control-lg" type="password" placeholder="password" style="margin-bottom: 16px;" name="password" required></div>
                        <div class="text-center"><button class="btn btn-primary text-center border rounded-0" type="submit" style="background: rgb(18,52,92);width: 100%;padding: 10px 12px;">Login</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<script src="../assets/bootstrap/js/bootstrap.min.js"></script>